<section class="bg-gray-100">
    <div class="flex">
        <!-- Content -->
        <div class="md:w-4/12 wscreen">
            <div class="flex flex-col after:flex-1 mt-16">
                <div class=" md:w-fit sm:w-fit mx-auto text-slate-700">
                    <!-- Logo -->
                    <div class="hero container max-w-screen-lg mx-auto pb-10 flex justify-center">
                        <img class="object-cover" src="../../../../assets/images/logo.png" width="124" height="40"
                            alt="logo">
                    </div>
                    <!-- Heading -->
                    <div class="justify-center text-center">
                        <h1 class="text-xl font-bold mb-1">Sign up now to start</h1>
                        <span class="font-small font-bold text-xs text-slate-500">Continue With Google Or enter your
                            details.</span>
                    </div>
                    <!--Sign-up with Google -->
                    <div class="mt-5 bg-white hover:bg-sky-100  border-2 rounded-md flex items-center justify-between p-1" style="cursor: pointer">
                        <img class="object-left" src="../../../../assets//images/google.png" width="24" height="24" alt="no image" />
                        <p class="font-small text-xs font-bold text-end pr-2 text-slate-500">Log In With Google</p>
                    </div>
                    <!-- Or section -->
                    <div class="flex items-center pl-2 pr-2 pt-3">
                        <div class="flex-grow h-px bg-gray-400"></div>
                        <span class="flex-shrink text-sm text-gray-500 px-2 font-light">or</span>
                        <div class="flex-grow h-px bg-gray-400"></div>
                    </div>
                    <!-- Form -->
                    <form>
                        <div class="space-y-3 mt-3">
                            <div>
                                <input id="email" class="text-xs 
                                                        placeholder:text-sm bg-transparent w-full 
                                                        border-b-[1px] border-gray-400
                                                        focus:outline-none
                                                        focus:border-sky-500
                                                        p-2 mb-2" type="email" placeholder="Email" autocomplete="on"/>
                            </div>
                            <div>
                                <input id="password" class="text-xs 
                                                            placeholder:text-sm bg-transparent w-full 
                                                            border-b-[1px] border-gray-400
                                                            focus:outline-none
                                                            focus:border-sky-500
                                                            p-2 mb-2" type="password" placeholder="Password"  />
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
        <!-- Image -->
        <div class="absolute sm:invisible invisible lg:visible
  top-0 bottom-0 right-0 lg:w-8/12 
  rounded-tl-[50px] rounded-bl-[50px] 
  w-full h-full
  bg-cover bg-center bg-[url('../../assets/images/background.png')]" aria-hidden="true">

        </div>
    </div>

</section>